My Workflow.json
{
  "name": "My Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "12cafa48-9236-4a9a-b43f-70160fee6077",
      "name": "When chat message received",
      "webhookId": "016d20bf-9a77-4721-8deb-ea9072dcce36"
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "44aa822e-f036-45e0-a5f0-1b9f9904885c",
      "name": "DownLoad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"\"\n    }\n  ],\n  \"model\": \"openai/gpt-oss-120b\",\n  \"temperature\": 1,\n  \"max_completion_tokens\": 8192,\n  \"top_p\": 1,\n  \"stream\": true,\n  \"reasoning_effort\": \"medium\",\n  \"stop\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "5eca19aa-351d-4841-aaa1-aa587139f49b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are a precision summarizer. Convert the following text into meeting-style minutes.  STRICT RULES: - Output ONLY bullet points - NO introductions, transitions, or conclusions - NO phrases like \"The text discusses...\" or \"Key points include...\" - Each point must be self-contained and meaningful - Use parallel structure for all points - Maximum 10-15 words per point - Start each point with an action verb when possible - Zero decorative language  FORMAT: - Point one - Point two - Point three  BEGIN SUMMARIZATION: {{ $json.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        672,
        0
      ],
      "id": "44c239c4-a14b-4c43-a237-a64d1535c326",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        744,
        224
      ],
      "id": "b1a5e8cf-6bb0-4ef4-8199-4aca6209e29c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "z3fkYzpu2EteNwxm",
          "name": "Google Gemini(PaLM) Api account 9137"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_db7f4c35-8282-431d-8359-aea8fe4726a0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "There is much to be said"
            },
            {
              "name": "voiceId",
              "value": "Terrell"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        0
      ],
      "id": "74284c10-637f-4908-82ba-611559f7af88",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "e33531c0-3433-4a23-94d4-237e89d12c75",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "DownLoad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownLoad": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9da61331-5ab1-4945-82ca-5e3b84c804be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "DcnsqwDGgfMenRSy",
  "tags": []
}